aiofiles==24.1.0
aiogram==3.21.0
aiogram_dialog==2.4.0
aiosqlite==0.21.0
alembic==1.16.4
apiq==0.0.3
APScheduler==3.11.0
cachetools==5.5.2
environs==14.2.0
Jinja2==3.1.6
PyYAML==6.0.2
redis==6.2.0
SQLAlchemy[asyncio]==2.0.41
sulguk==0.8.0